{
    "env":{
        "development": {
            "presets": [
                [
                    "env",
                    {
                        "modules": false,
                        "target": {
                            "browsers": [
                                "> 5%"
                            ]
                        }
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ],
            "plugins": [
                "istanbul"
            ]
        }
    },
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread"
    ]
}